<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="d6d7279a-ad46-486e-86ca-a6dd42f0ed49" wadlVersion="http://wadl.dev.java.net/2009/02" name="UMobile_MO" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="d6d7279a-ad46-486e-86ca-a6dd42f0ed49fileName">UMobile_MO</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://${#Project#talend_endpoint}</con:endpoint></con:endpoints></con:interface>