<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="2216efbd-52af-4522-9c06-23bf5aceefd7" wadlVersion="http://wadl.dev.java.net/2009/02" name="LCM_API" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="2216efbd-52af-4522-9c06-23bf5aceefd7fileName">LCM_API</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://192.168.250.92:8080</con:endpoint><con:endpoint>http://192.168.250.93:8080</con:endpoint></con:endpoints></con:interface>