<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c1f26ade-fc73-4ffd-a7bf-fabcbf537bee" name="Test Suite_CustomerProjectOrder_Dev_N1_NEW ZELAND" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="c1f26ade-fc73-4ffd-a7bf-fabcbf537beefileName">Test-Suite_CustomerProjectOrder_Dev_N1_NEW-ZELAND</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>