<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="7d70bcfd-1a05-4b39-bcdf-54acce057c15" activeEnvironment="Default environment" name="ImportProject_RnD" lastOpened="2017-01-11T16:07:05.982+05:30" resourceRoot="" soapui-version="6.0.0" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:savedRecentRuns>1</con:savedRecentRuns><con:requirements/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:authRepository/><con:tags/></con:soapui-project>