<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="0e2f3969-ff52-491b-9b4f-ef1598e05bb8" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 21" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="0e2f3969-ff52-491b-9b4f-ef1598e05bb8fileName">REST-Service-21</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>