<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="d42a9bac-43d7-49e7-8ff2-aa3b22040c0f" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 32" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="d42a9bac-43d7-49e7-8ff2-aa3b22040c0ffileName">REST-Service-32</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>