<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="2ffbc598-58ac-427a-991b-2f54d4efd9cb" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 16" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="2ffbc598-58ac-427a-991b-2f54d4efd9cbfileName">REST-Service-16</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>