<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="c6a75b1f-0a3c-4443-9ee8-972a8d13fbe2" wadlVersion="http://wadl.dev.java.net/2009/02" name="BaaS_API" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="c6a75b1f-0a3c-4443-9ee8-972a8d13fbe2fileName">BaaS_API</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://${#Global#baas_endpoint}</con:endpoint><con:endpoint>http://192.168.249.94:8080</con:endpoint><con:endpoint>http://192.168.250.92:8080</con:endpoint><con:endpoint>http://192.168.250.93:8080</con:endpoint></con:endpoints></con:interface>