<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="ce758d9f-ead4-4b3b-89fd-d8c6b1be8f7f" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 30" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="ce758d9f-ead4-4b3b-89fd-d8c6b1be8f7ffileName">REST-Service-30</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>