<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a9ca86f7-f0db-4380-94a9-cf8bb4804782" name="Test Suite_CustomerProjectOrder_Dev_MG_UAE" disabled="true" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="a9ca86f7-f0db-4380-94a9-cf8bb4804782fileName">Test-Suite_CustomerProjectOrder_Dev_MG_UAE</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>