<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="28f8158f-7af5-4b49-9be7-53c98bc4e74a" name="secured_margin" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="28f8158f-7af5-4b49-9be7-53c98bc4e74afileName">secured_margin</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>