<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="589e82c6-379d-408a-b93b-302761c3a5b2" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 8" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="589e82c6-379d-408a-b93b-302761c3a5b2fileName">REST-Service-8</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>