<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="c7e9814d-f96a-4e4c-a5ce-be92b4c2a4d8" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 18" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="c7e9814d-f96a-4e4c-a5ce-be92b4c2a4d8fileName">REST-Service-18</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>