<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="0c014423-a66f-46a6-819b-5f346f42c2d8" wadlVersion="http://wadl.dev.java.net/2009/02" name="Talend_Enpoints" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="0c014423-a66f-46a6-819b-5f346f42c2d8fileName">Talend_Enpoints</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://192.168.249.94:8088</con:endpoint><con:endpoint>http://192.168.254.9:8088</con:endpoint><con:endpoint>http://64.71.156.243:18088</con:endpoint></con:endpoints></con:interface>