<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0ea86b79-8b67-4255-9af5-3b964d129650" name="CreditCheck" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="0ea86b79-8b67-4255-9af5-3b964d129650fileName">CreditCheck</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>URI</con:name><con:value>http://mum-dev:6004/api/creditstatus/companycode/m1/customercode/R104      /ledgerflag/false</con:value></con:property><con:property><con:name>method</con:name><con:value>customercode</con:value></con:property><con:property><con:name>parameter2</con:name><con:value>false</con:value></con:property><con:property><con:name>parameter1</con:name><con:value>1276</con:value></con:property><con:property><con:name>MethodName</con:name><con:value> </con:value></con:property></con:properties><con:reportParameters/></con:testSuite>