<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="4191cdeb-6bbc-43a5-b2fc-6e489ead64fe" name="Apigee" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="4191cdeb-6bbc-43a5-b2fc-6e489ead64fefileName">Apigee</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>