<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="3c28f917-4b56-4113-ad9e-55819e46bf88" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 2" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="3c28f917-4b56-4113-ad9e-55819e46bf88fileName">REST-Service-2</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>