<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="a4dc7006-12f1-4dbb-9593-be0806e7eede" wadlVersion="http://wadl.dev.java.net/2009/02" name="REST Service 26" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="a4dc7006-12f1-4dbb-9593-be0806e7eedefileName">REST-Service-26</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints/></con:interface>